body { padding-top: 70px; }

.tblock{
    height: 500px;
    border:1px solid gray;
    border-radius: 10px;
    margin-bottom: 5px;
}

.ban-item td span{
    text-decoration: line-through;
    color: red;
}

.empty-table{
    margin-top: 10px;
    padding: 10px;
}

.table-view{
    margin-top: 10px;
}

.no-active, .error-box{
    color: red;
    font-style: italic;
}


.navbar-default .navbar-nav>li>a.paid{
    color: green;
    font-style: italic;
    text-decoration: underline;
}

.disable-site{
    background: lightgray;
}

div[id^="field_"].slider .slider-selection {
    background: #BABABA;
}

[id^="field_"].slider{
    width:100%;
}

.factory-fields .group-items{
    border: 1px solid darkslateblue;
    padding: 10px;
    border-radius: 0 5px 5px;
    margin-bottom: 15px;
    position: relative;
}

.group-items .delete-group-fields{
    position: absolute;
    top: -13px;
    right: -14px;
    background-color: #ddd;
    border-radius: 50%;
    padding: 4px 9px;
    color: crimson;
    cursor: pointer;
    border: 2px solid darkslateblue;
    font-weight: bold;
}

.group-items .delete-group-fields:hover{
    background-color: brown;
    color: white;
}